- hosts: local
  become: yes
  tasks:
    - name: Detect correct Apache package
      set_fact:
        apache_pkg: "{{ 'apache2' if ansible_facts.os_family == 'Debian' else 'httpd' }}"

    - name: Install Apache locally on EC2
      package:
        name: "{{ apache_pkg }}"
        state: present
